*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

font-family:

Poppins,
sans-serif;

background:

linear-gradient(
180deg,
var(--bg),
var(--bg2));

color:

var(--text);

overflow-x:hidden;

min-height:100vh;

}

img{

display:block;

max-width:100%;

}

button{

font:inherit;

cursor:pointer;

border:none;

}

.container{

width:min(1200px,92%);

margin:auto;

}