:root{

--bg:#0F0A1F;
--bg2:#1B1235;

--primary:#FF69B4;
--secondary:#D291FF;
--accent:#FFD54F;

--white:#FFFFFF;

--text:#F6F3FF;
--text-light:#D8D2EA;

--glass:rgba(255,255,255,.08);

--glass-border:
rgba(255,255,255,.15);

--radius:28px;

--shadow:
0 20px 50px rgba(0,0,0,.35);

--transition:.35s ease;

}